@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400&display=swap');

/* global settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  color: #333;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-weight: 600;
  display: block;
  font-size: 0.875rem;
  margin-bottom: 3rem;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section {
  padding: 1rem 0 4rem;
}

.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* back-button */
.back-button {
  display: inline-flex;
  background-color: hsl(190, 69%, 61%);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  align-items: center;
  cursor: pointer;
}

.back-button:hover {
  background-color: hsl(190, 57%, 53%);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  transition: 0.3s;
}

.back-button:hover .button__icon {
  transform: translateX(0.25rem);
}

/* Add Section */
.addBtn {
  /* display: inline-flex; */
  background-color: hsl(138, 69%, 61%);
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.addBtn:hover {
  background-color: transparent;
  color: hsl(138, 69%, 61%);
}

.addBtn:active {
  background-color: transparent;
  color: hsl(0, 0%, 0%);
}

/* close button */
.close {
  position: absolute;
  color: red;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: lime;
  color: #fff;
}
/* ----- LIST ----- */
ul li {
  cursor: pointer;
  position: relative;
  transition: 0.3s;

  user-select: none;
}

ul li:nth-child(odd) {
  background-color: aliceblue;
}
/* checked elements styling */
ul li.checked {
  text-decoration: line-through;
  background-color: #888;
  color: #fff;
}
/* add checkmark befor checked elements */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: red;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

ul li:hover {
  background-color: #ddd;
}
