* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  padding: 2rem 2rem;
}

ul {
  list-style: none;
}

.checked {
  text-decoration: line-through;
}

.close {
  color: red;
  padding: 10px 10px;
}

ul li::before {
  content: '';
  position: absolute;
  border-color: red;
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
